<iwms-header [title]="pageTitle" [viewUrl]="viewUrl" [displayBack]="true" [displayList]="true"></iwms-header>

<!-- #region stepper-->

<mat-stepper orientation="vertical">
  <mat-step>
    <!-- #region core user details-->

    <ng-template matStepLabel>Core User Details</ng-template>
    <ng-template matStepContent>
      <iwms-dynamic-form
        [controls]="coreUserDetailsFormControls$ | async"
        [isSubmitting$]="isSubmitting$"
        (notifyValidity)="onValidityNotified($event, 'Core User Details')"
      ></iwms-dynamic-form>
      @if (displayMembershipForm) {
      <button
        [disabled]="!isProceedAllowed['Core User Details']"
        mat-button
        matStepperNext
      >
        Proceed
      </button>
      }@else {
      <button
        mat-flat-button
        class="admin-save save-btn"
        [disabled]="
          !checks['No Children'] && (checks['No Children'] || !isSaveAllowed)
        "
        (click)="save()"
      >
        Save User
      </button>
      }
    </ng-template>
  </mat-step>

  <!-- #region spouse details-->

  @if (displayMembershipForm) {
  <mat-step>
    <ng-template matStepLabel>Spouse Details</ng-template>
    <ng-template matStepContent>
      <div class="checkbox">
        <mat-checkbox
          [checked]="checks['Not Married']"
          (change)="checkChange($event.checked, 'Not Married')"
          >User is not married</mat-checkbox
        >
      </div>
      @if (!checks['Not Married']) {
      <iwms-dynamic-form
        [controls]="spouseDetailsFormControls$ | async"
        [isSubmitting$]="isSubmitting$"
        (notifyValidity)="onValidityNotified($event, 'Spouse Details')"
      ></iwms-dynamic-form>
      }
      <button mat-button matStepperPrevious>Back</button>
      <button
        [disabled]="
          !checks['Not Married'] &&
          (checks['Not Married'] || !isProceedAllowed['Spouse Details'])
        "
        mat-button
        matStepperNext
      >
        Proceed
      </button>
    </ng-template>
  </mat-step>
  <mat-step>
    <!-- #region children details-->

    <ng-template matStepLabel>Children Details</ng-template>
    <ng-template matStepContent>
      <div class="checkbox">
        <mat-checkbox
          [checked]="checks['No Children']"
          (change)="checkChange($event.checked, 'No Children')"
          >User has no offsprings</mat-checkbox
        >
      </div>
      @if (!checks['No Children']) { @for (validOffspring of validChildren;
      track $index) {
      <h5 class="child-header mat-title-large">
        Child Details [{{ $index + 1 }}]
      </h5>
      <iwms-dynamic-form
        [controls]="childrenDetailsFormControls$[$index] | async"
        [isSubmitting$]="isSubmitting$"
        (notifyValidity)="
          onValidityNotified($event, 'Family Details', $index, true)
        "
      ></iwms-dynamic-form
      >}
      <button mat-stroked-button class="add-child-btn" (click)="addChild()">
        Add Child Details
      </button>
      <br />}

      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-flat-button
        class="save-btn"
        [disabled]="
          (isSubmitting$ | async) ||
          (!checks['No Children'] && (checks['No Children'] || !isSaveAllowed))
        "
        (click)="save()"
      >
        Save User
      </button>
    </ng-template> </mat-step
  >}
</mat-stepper>
