<iwms-header
  [title]="pageTitle"
  [viewUrl]="viewUrl"
  [listUrl]="listUrl"
  [displayBack]="true"
></iwms-header>

<!-- #region stepper-->

<mat-stepper
  orientation="vertical"
  [linear]="true"
  (selectedIndexChange)="selected = $event"
>
  <mat-step>
    <!-- #region core account details-->

    <ng-template matStepLabel
      ><h4 class="core-account-header selected mat-headline-medium">
        Account Details
      </h4>
    </ng-template>
    <ng-template matStepContent>
      <iwms-dynamic-form
        [controls]="coreUserDetailsFormControls | async"
        [isSubmitting]="isSubmitting"
        [triggerValidityNotification]="triggerValidityNotification"
        (notifyValidity)="onValidityNotified($event, 'Core Account Details')"
      ></iwms-dynamic-form>

      @if(displayMemberForm){
      <div class="checkbox">
        <mat-checkbox
          [checked]="checks['Create New Welfare']"
          (change)="check($event.checked, 'Create New Welfare')"
          [disabled]="!canCreateNewWelfare"
          >Assign new group to account</mat-checkbox
        >
      </div>
      <button
        [disabled]="!isProceedAllowed['Core Account Details']"
        mat-button
        matStepperNext
      >
        Proceed
      </button>
      }@else {
      <button
        mat-flat-button
        class="admin-save save-btn"
        [disabled]="!isProceedAllowed['Core Account Details']"
        (click)="save()"
      >
        Save Account
      </button>
      }
    </ng-template>
  </mat-step>

  @if (displayMemberForm) {

  <!-- #region group details-->
  <mat-step>
    <ng-template matStepLabel
      ><h4
        class="welfare-header mat-headline-medium"
        [class.selected]="isSelected[1]"
      >
        Welfare Details
      </h4>
    </ng-template>
    <ng-template matStepContent>
      @if (canCreateNewWelfare && checks['Create New Welfare']) {
      <iwms-dynamic-form
        [controls]="newWelfareDetailsFormControls | async"
        [isSubmitting]="isSubmitting"
        [triggerValidityNotification]="triggerValidityNotification"
        (notifyValidity)="onValidityNotified($event, 'Welfare Details')"
      ></iwms-dynamic-form>
      }@else{
      <iwms-dynamic-form
        [controls]="chooseWelfareFormControls | async"
        [isSubmitting]="isSubmitting"
        [triggerValidityNotification]="triggerValidityNotification"
        (notifyValidity)="onValidityNotified($event, 'Welfare Details')"
      ></iwms-dynamic-form>
      }
      <button mat-button matStepperPrevious>Back</button>
      <button
        [disabled]="!isProceedAllowed['Welfare Details']"
        mat-button
        matStepperNext
      >
        Proceed
      </button>
    </ng-template>
  </mat-step>

  <!-- #region spouse details-->

  <mat-step>
    <ng-template matStepLabel
      ><h4
        class="spouse-header mat-headline-medium"
        [class.selected]="isSelected[2]"
      >
        Spouse Details
      </h4>
    </ng-template>
    <ng-template matStepContent>
      <div class="checkbox">
        <mat-checkbox
          [checked]="checks['Not Married']"
          (change)="check($event.checked, 'Not Married')"
          >Account owner is not married</mat-checkbox
        >
      </div>
      @if (!checks['Not Married']) {
      <iwms-dynamic-form
        [controls]="spouseDetailsFormControls | async"
        [isSubmitting]="isSubmitting"
        [triggerValidityNotification]="triggerValidityNotification"
        (notifyValidity)="onValidityNotified($event, 'Spouse Details')"
      ></iwms-dynamic-form>
      }
      <button mat-button matStepperPrevious>Back</button>
      <button
        [disabled]="!isProceedAllowed['Spouse Details']"
        mat-button
        matStepperNext
      >
        Proceed
      </button>
    </ng-template>
  </mat-step>
  <mat-step>
    <!-- #region children details-->

    <ng-template matStepLabel
      ><h4
        class="children-header mat-headline-medium"
        [class.selected]="isSelected[3]"
      >
        Children Details
      </h4>
    </ng-template>
    <ng-template matStepContent>
      <div class="checkbox">
        <mat-checkbox
          [checked]="checks['No Children']"
          (change)="check($event.checked, 'No Children')"
          >Account owner has no offsprings</mat-checkbox
        >
      </div>
      @if (!checks['No Children']) { @for (validOffspring of validChildren;
      track $index) {
      <h5 class="child-header mat-title-large">
        Child Details [{{ $index + 1 }}]
      </h5>
      <iwms-dynamic-form
        [controls]="childrenDetailsFormControls[$index] | async"
        [isSubmitting]="isSubmitting"
        [triggerValidityNotification]="triggerValidityNotification"
        (notifyValidity)="
          onValidityNotified($event, 'Children Details', $index, true)
        "
      ></iwms-dynamic-form
      >}
      <button mat-stroked-button class="add-child-btn" (click)="addChild()">
        Add Child Details
      </button>
      <br />}

      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-flat-button
        class="save-btn"
        [disabled]="!isProceedAllowed['Children Details'] && !areChildrenValid"
        (click)="save()"
      >
        Save Account
      </button>
    </ng-template> </mat-step
  >}
</mat-stepper>
