@if (control.visible) {
<div [formGroup]="form">
  @switch (control.controlType) { @case ('textbox') {
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>{{ control.label }}</mat-label>
    <input
      matInput
      [id]="control.key"
      [type]="control.type"
      [formControlName]="control.key"
    />
    <mat-icon matPrefix>{{ control.icon }}</mat-icon>
  </mat-form-field>
  }@case ('date') {
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>{{ control.label }}</mat-label>
    <input
      matInput
      [id]="control.key"
      [type]="control.type"
      [formControlName]="control.key"
    />
    <mat-icon matPrefix>{{ control.icon }}</mat-icon>
  </mat-form-field>
  } @case ('dropdown') {
  <mat-form-field appearance="outline" class="form-field selector-control">
    <mat-label [attr.for]="control.key">{{ control.label }}</mat-label>
    <mat-select [id]="control.key" [formControlName]="control.key">
      @for (type of control.options; track type) {
      <mat-option [value]="type?.key">{{ type?.value }}</mat-option>
      }
    </mat-select>
    <mat-icon matPrefix>{{ control.icon }}</mat-icon>
  </mat-form-field>
  } } @if (!isValid) {
  <mat-error class="errorMessage">{{ control.label }} is required</mat-error>
  }
</div>
}
<!-- <mat-hint>hint is here</mat-hint> -->
