@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($iwms-theme) {
  button[mat-flat-button].basic-btn {
    background-color: transparent;
    color: mat.get-theme-color($iwms-theme, primary, 30);
  }

  .table-row {
    cursor: pointer;

    &:hover {
      background-color: mat.get-theme-color($iwms-theme, primary, 95);
    }
  }

}

@mixin typography($iwms-theme) {
  .app-name {
    font: mat.get-theme-typography($iwms-theme, display-small, font);
    color: mat.get-theme-color($iwms-theme, secondary, 100);
  }
}

@mixin theme($iwms-theme) {
  @if mat.theme-has($iwms-theme, color) {
    @include color($iwms-theme);
  }

  @if mat.theme-has($iwms-theme, typography) {
    @include typography($iwms-theme);
  }
}