:host {
    display: block;
    margin: 8px 0;

    .form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-gap: 4px;

        .form-field {
            width: 100%;
        }

    }
}