<iwms-header [title]="pageTitle"></iwms-header>

<mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Personal Details</ng-template>
    <ng-template matStepContent>
      <iwms-dynamic-form
        [controls]="personalDetailsFormControls$ | async"
        (notifyValidity)="onValidityNotified($event, 'Personal Details')"
      ></iwms-dynamic-form>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Marital Details</ng-template>
    <ng-template matStepContent>
      <iwms-dynamic-form
        [controls]="maritalDetailsFormControls$ | async"
        (notifyValidity)="onValidityNotified($event, 'Marital Details')"
      ></iwms-dynamic-form>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Family Details</ng-template>
    <ng-template matStepContent>
      <iwms-dynamic-form
        [controls]="familyDetailsFormControls$ | async"
        (notifyValidity)="onValidityNotified($event, 'Family Details')"
      ></iwms-dynamic-form>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
</mat-stepper>
