<div [formGroup]="form">
  <mat-form-field appearance="outline" class="form-field selector-control">
    <mat-label [attr.for]="control.key">{{ control.label }}</mat-label>
    <input
      type="text"
      [attr.aria-label]="control.label"
      [placeholder]="control.placeholder ?? 'Pick one'"
      matInput
      [formControlName]="control.key"
      [matAutocomplete]="auto"
    />
    @if(isLoading){
    <mat-progress-spinner
      style="margin-right: 16px"
      matSuffix
      mode="indeterminate"
      diameter="20"
    ></mat-progress-spinner>

    }
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions; track option.id) {
      <mat-option [value]="option.name">{{ option?.name }}</mat-option>
      }
    </mat-autocomplete>
    <mat-icon matPrefix>{{ control.icon }}</mat-icon>
  </mat-form-field>
</div>
