.logo-container {
  width: 200px;
  height: 200px;
  border: 1px solid #00458f;

  background-color: white;

  position: relative;

  .logo-text {
    margin: auto;
    padding: 4px;
    text-align: center;
    border-radius: 8px;

    position: absolute;
    top: 60px;
    left: -20px;

    color: #0074e9;
    background-color: white;
    font-size: 5rem;
    font-weight: 900;

    -webkit-text-stroke: 3px #00458f;
    -webkit-text-fill-color: #0074e9;

    text-shadow:
      6px 8px 10px #001b3b8c
  }
}