<mat-toolbar>
  <header class="app-header app-name">
    @if (page_name) {
    <span class="page_name" [innerHTML]="page_name"></span>
    }@else {
    <span class="start">{{ start }}</span
    ><span class="end">{{ end }}</span>
    }
  </header>
</mat-toolbar>
<div class="text-center">
  <h1 class="mat-display-large">Page Not Found 🙃</h1>
  <p class="mat-title-large">
    We're sorry. The page you are looking for cannot be found.
  </p>
  <p class="mat-label-large">
    Kindly,
    <a class="icon-link text-primary" (click)="location.back()">Go Back</a>
    or
    <a class="icon-link text-primary" routerLink="/">Go Home!</a>
  </p>
</div>
