<header class="container header" id="header">
  <h1 class="page-title mat-display-large">{{ title }}</h1>

  <!-- #region dynamic content-->

  <ng-content></ng-content>

  <!-- #region naviation buttons-->

  @if (displayList || editUrl || viewUrl || displayBack) {
  <div class="header-nav-btns">
    @if(editUrl){
    <button
      mat-icon-button
      class="basic-btn"
      aria-label=""
      [routerLink]="[editUrl]"
    >
      <mat-icon fontIcon="edit_note" class="btn-icon"></mat-icon>
    </button>
    } @if(viewUrl){
    <button
      mat-icon-button
      class="basic-btn"
      aria-label=""
      [routerLink]="[viewUrl]"
    >
      <mat-icon fontIcon="wysiwyg" class="btn-icon"></mat-icon>
    </button>
    } @if (displayList) {
    <button mat-icon-button class="basic-btn" aria-label="" routerLink="">
      <mat-icon fontIcon="format_list_numbered" class="btn-icon"></mat-icon>
    </button>
    } @if (displayBack) {
    <button
      mat-icon-button
      class="basic-btn"
      aria-label=""
      (click)="location.back()"
    >
      <mat-icon fontIcon="arrow_back" class="btn-icon"></mat-icon>
    </button>
    }
  </div>
  }
</header>
