<section class="filter">
  <mat-form-field appearance="outline" class="reduced-size">
    <mat-label>Select Option</mat-label>
    <mat-select (selectionChange)="onSelectFilterOption($event)">
      @for (option of filterOptions; track $index) {
      <mat-option [value]="option?.key">{{ option?.label }}</mat-option>
      }
    </mat-select>
    <mat-icon matPrefix>tune</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="reduced-size">
    <mat-label>Is</mat-label>
    <input matInput type="text" />
    <mat-icon matPrefix>edit_note</mat-icon>
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon matPrefix>filter_alt</mat-icon>Apply filter
  </button>
</section>
