<footer>
  <section class="newsletter">
    <div class="container">
      <h5 class="newsletter-title">Sign Up For IWMS's NewsLetter</h5>
      <p class="newsletter-info">
        Receive IWMS's quarterly updates with the latest insights from this site
      </p>
      <form
        [formGroup]="newsLetterForm"
        (submit)="submitForm()"
        class="newsletter-form"
      >
        <mat-form-field>
          <input
            matInput
            formControlName="email"
            placeholder="Email"
            color="email-input"
          />
        </mat-form-field>

        <button
          mat-button
          type="submit"
          color="subscribe"
          [disabled]="!newsLetterForm.valid"
        >
          Subscribe
        </button>
      </form>
    </div>
  </section>
  <section class="links">
    <div class="container">
      <div class="site-links">
        <a mat-button routerLink="/">About Us</a>
        <a mat-button routerLink="/">Contact Us</a>
      </div>
      <div class="external-links">
        <p routerLink="" class="author-name">IWMS</p>
        <small class="atikas-description">
          IWMS is an Integrated Welfare Management System making it easier for
          you to manage and track the progress of your welfare group
        </small>

        <small class="copy-right">
          &copy;{{ year }} IWMS. All rights reserved
        </small>

        <div class="social-links">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-whatsapp"></i>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="developed-by">
    <p class="container developed-by-text text-center">
      Designed & Developed by Code Links Industries, Ltd
    </p>
  </section> -->
</footer>
