:host {
    display: block;
    height: 100%;
}

.header {
    margin-top: 40px;
}

.auth-container {
    max-width: 90%;
    margin: 0 auto;

    .double-column {
        display: flex;
        gap: 12px;
    }

    .loader {
        display: block;
        width: fit-content;
        margin: 54px auto;
    }

    @media screen and (min-width: 960px) {
        max-width: 70%;
    }

    @media screen and (min-width: 1200px) {
        max-width: 60%;
    }

    @media screen and (min-width: 1200px) {
        max-width: 50%;
    }

}