<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async) ? 'over' : 'side'"
    [opened]="(isHandset | async) === false"
  >
    <mat-toolbar class="mobile-navigation"><logo></logo></mat-toolbar>
    <mat-nav-list class="secondary-navigation">
      <mat-list-item
        routerLink="/user-accounts"
        [activated]="isActive('user-accounts')"
      >
        <a matListItemTitle routerLinkActive="nav-active">User Accounts</a>
        <button mat-icon-button (click)="(0)" matListItemMeta>
          <mat-icon>group</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item
        routerLink="/welfare-groups"
        [activated]="isActive('welfare-groups')"
      >
        <a matListItemTitle routerLinkActive="nav-active">Welfares</a>
        <button mat-icon-button (click)="(0)" matListItemMeta>
          <mat-icon>accessibility_new</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item
        routerLink="/welfare-members"
        [activated]="isActive('welfare-members')"
      >
        <a matListItemTitle routerLinkActive="nav-active">Welfare Members</a>
        <button mat-icon-button (click)="(0)" matListItemMeta>
          <mat-icon>contacts</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item
        routerLink="/contributions"
        [activated]="isActive('contributions')"
      >
        <a matListItemTitle routerLinkActive="nav-active">Contributions</a>
        <button mat-icon-button (click)="(0)" matListItemMeta>
          <mat-icon>currency_exchange</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/finance" [activated]="isActive('finance')">
        <a matListItemTitle routerLinkActive="nav-active">Finance</a>
        <button mat-icon-button (click)="(0)" matListItemMeta>
          <mat-icon>account_balance</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item
        routerLink="/transactions"
        [activated]="isActive('transactions')"
      >
        <a matListItemTitle routerLinkActive="nav-active">Transactions</a>
        <button mat-icon-button (click)="(0)" matListItemMeta>
          <mat-icon>payments</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/reports" [activated]="isActive('reports')">
        <a matListItemTitle routerLinkActive="nav-active">Reports</a>
        <button mat-icon-button (click)="(0)" matListItemMeta>
          <mat-icon>summarize</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item
        routerLink="/notifications"
        [activated]="isActive('notifications')"
      >
        <a matListItemTitle routerLinkActive="nav-active">Notifications</a>
        <button mat-icon-button (click)="(0)" matListItemMeta>
          <mat-icon>campaign</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    <mat-toolbar class="footer">
      <small class="mat-body-small"> RichTech ICT, Ltd. &copy; 2024 </small>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isApiLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <mat-toolbar id="toolbar">
      <mat-toolbar-row class="container-fluid primary-toolbar">
        @if (isHandset | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        }
        <header class="app-header app-name">
          <span class="start">IW</span><span class="end">MS</span>
        </header>
        <span class="spacer"></span>
        <mat-nav-list class="primary-navigation">
          <a mat-flat-button class="primary-nav-buttons" routerLink="/home"
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="home"
            ></mat-icon>
            Home</a
          >

          <a mat-flat-button class="primary-nav-buttons" href=""
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="info"
            ></mat-icon>
            About Us</a
          >
          <a mat-flat-button class="primary-nav-buttons" href=""
            ><mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="phone"
            ></mat-icon>
            Contact Us</a
          >

          <a
            mat-button
            class="account-menu-button"
            [matMenuTriggerFor]="profileMenu"
            aria-label="Example icon button with a vertical three dot icon"
          >
            <mat-icon fontIcon="account_circle"></mat-icon>
            @if ((user | async)) {
            <span style="color: white">{{ (user | async)?.name }}</span
            >}
          </a>

          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>My Profile</span>
            </button>
            <button mat-menu-item>
              <mat-icon>manage_accounts</mat-icon>
              <span>Account Settings</span>
            </button>
            <button mat-menu-item (click)="changePassword()">
              <mat-icon>sync_lock</mat-icon>
              <span>Change Password</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </mat-nav-list>
      </mat-toolbar-row>
      <mat-toolbar-row class="secondary-toolbar">
        <nav aria-label="breadcrumb" class="container-fluid breadcrumb-container">
          <ol class="breadcrumb mat-body-medium">
            @for (breadcrumb of breadcrumbs; track $index) {
            <li
              class="breadcrumb-item"
              [class.active]="$index == breadcrumbs.length - 1"
              [attr.aria-current]="
                $index == breadcrumbs.length - 1 ? 'page' : undefined
              "
            >
              <a [routerLink]="configureBreadcrumbRouteUrl($index)">{{
                breadcrumb.label
              }}</a>
            </li>
            }
          </ol>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>
    <section class="container-fluid" id="main-routing-container">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
