<mat-toolbar>
  <header class="app-header app-name">
    @if (page_name) {
    <span class="page_name" [innerHTML]="page_name"></span>
    }@else {
    <span class="start">{{ start }}</span
    ><span class="end">{{ end }}</span>
    }
  </header>
  <mat-nav-list class="primary-navigation">
    <a mat-flat-button class="primary-nav-buttons" routerLink="/"
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="info"
      ></mat-icon>
      About Us</a
    >
    <a mat-flat-button class="primary-nav-buttons" routerLink="/"
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="phone"
      ></mat-icon>
      Contact Us</a
    >

    <a mat-button class="primary-nav-buttons login-button" (click)="login()"
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="login"
      ></mat-icon>
      Log In</a
    >
  </mat-nav-list>
</mat-toolbar>
<section
  class="home-content mat-typography container"
  [innerHTML]="home_content"
></section>
<iwms-footer></iwms-footer>
