<div class="grid container">
  <!-- @if (isLoadingResults || isLimitReached) {
  <div class="loading-shade">
    @if (isLoadingResults) {
    <mat-spinner></mat-spinner>
    } @if (isLimitReached) {
    <div class="limit-reached">Reached documents limit</div>
    }
  </div>
  } -->

  <div class="table-container mat-elevation-z1">
    <div class="table-header">
      <span class="dataset-name mat-title-large">Members</span>
      <div class="action-btns">
        <button mat-flat-button class="avg-btn" aria-label="">
          <mat-icon fontIcon="add"></mat-icon><span>Add Member</span>
        </button>
        <button mat-flat-button [matMenuTriggerFor]="menu">
          <span>Actions </span>
          <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="(0)">action</button>
        </mat-menu>
        <button mat-flat-button class="avg-btn" aria-label="">
          <mat-icon fontIcon="refresh"></mat-icon><span>Refresh</span>
        </button>
      </div>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z1"
      matSort
      [matSortActive]="defaultSortColumn"
      matSortDisableClear
      [matSortDirection]="defaultSortColumnDirection"
    >
      @for (column of columnProperties; track column.position) {
      <ng-container [matColumnDef]="column.key">
        @switch (column.type) { @case ('status') {
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label }}
        </th>
        <td mat-cell *matCellDef="let row" class="status">
          <mat-chip
            [color]="statusProperties[column.key]!.cssFormats[row[column.key]]"
            >{{
              statusProperties[column.key]!.labels[row[column.key]]
            }}</mat-chip
          >
        </td>
        }@case ('action') {
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label }}
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            @for (action of actionProperties[column.key]!.actions!; track
            $index) {
            <button mat-menu-item (click)="action?.implementation()">
              {{ action.name }}</button
            >}
          </mat-menu>
        </td>
        } @default {
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row[column.key] }}</td>
        }}
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="resultsLength"
    [pageSize]="30"
    aria-label="Select page of entities"
  ></mat-paginator>
</div>
