<div class="grid-container mat-elevation-z8">
  <div class="grid-header">
    <span class="dataset-name mat-title-medium">{{ name }}</span>
    <small class="data-count"
      >Viewing <strong>{{ dataSource.data.length }} </strong>Results</small
    >
    <div class="action-btns">
      <button mat-flat-button class="basic-btn" aria-label="" routerLink="add">
        <mat-icon fontIcon="add" class="btn-icon"></mat-icon
        ><span>Add {{ name }}</span>
      </button>
      <button mat-flat-button class="action-btn" [matMenuTriggerFor]="menu">
        <span>Actions </span>
        <mat-icon fontIcon="keyboard_arrow_down" class="btn-icon"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="(0)">
          <mat-icon fontIcon="delete" class="btn-icon"></mat-icon>
          Delete
        </button>
        <button mat-menu-item (click)="(0)">
          <mat-icon fontIcon="change_circle" class="btn-icon"></mat-icon>
          Change Status
        </button>
        <button mat-menu-item (click)="(0)">
          <mat-icon fontIcon="description" class="btn-icon"></mat-icon>
          Export Csv
        </button>
        <button mat-menu-item (click)="(0)">
          <mat-icon fontIcon="picture_as_pdf" class="btn-icon"></mat-icon>
          Export PDF
        </button>
      </mat-menu>
      <button mat-flat-button class="basic-btn" aria-label="">
        <mat-icon fontIcon="refresh" class="btn-icon"></mat-icon
        ><span>Refresh</span>
      </button>
    </div>
  </div>
  <div class="grid-scroll">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      [matSortActive]="defaultSortColumn"
      matSortDisableClear
      [matSortDirection]="defaultSortColumnDirection"
    >
      @for (column of columnProperties; track column.position) {
      <ng-container [matColumnDef]="column!.key">
        @switch (column?.type) { @case ('status') {
        <th
          class="column-header mat-body-medium"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          {{ column!.label }}
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          class="cell status-cell"
          [style.min-width]="column!.width"
        >
          <strong
            [style.color]="
              statusProperties[column!.type]!.colors[row[column!.key]]
            "
            >{{
              statusProperties[column!.type]!.labels[row[column!.key]]
            }}</strong
          >
        </td>
        }
        <!-- @case ('action') {
        <th
          class="column-header mat-body-medium"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        ></th>
        <td mat-cell *matCellDef="let row" class="cell action-cell">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            @for (action of actionProperties[column.key]!.actions!; track
            $index) {
            <button mat-menu-item (click)="action?.implementation()">
              {{ action.name }}</button
            >}
          </mat-menu>
        </td>
        } -->
        @case('select'){
        <th
          class="column-header select-column-header"
          mat-header-cell
          *matHeaderCellDef
        >
          <mat-checkbox></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="cell select-cell">
          <mat-checkbox></mat-checkbox>
        </td>
        }@case('date'){
        <th
          class="column-header date-column-header"
          mat-header-cell
          *matHeaderCellDef
        >
          {{ column!.label }}
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          class="cell date-cell"
          [style.min-width]="column?.width"
        >
          {{ row[column!.key] | date }}
        </td>
        }@default {
        <th
          class="column-header mat-body-medium"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          {{ column!.label }}
        </th>
        <td
          class="cell mat-body-medium"
          mat-cell
          *matCellDef="let row"
          [style.min-width]="column?.width"
        >
          {{ row[column!.key] ? row[column!.key] : "N/A" }}
        </td>
        }}
      </ng-container>
      }

      <tr
        class="header-row"
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
