.grid-container {
    border-radius: 24px;
    padding-bottom: 36px;

    .grid-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;

        // .dataset-name {
        //     // color: rgb(0, 69, 143);
        // }

        .data-count {
            position: relative;
            right: -9%;
        }

        .action-btns {
            display: flex;
            position: relative;
            right: -20px;

            button[mat-flat-button].basic-btn {
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }

                .btn-icon {
                    font-size: 1.75rem;
                    width: 1.75rem;
                    height: 1.75rem;
                }
            }
        }
    }

    .grid-scroll {
        width: 100%;
        display: block;
        max-height: 56vh;
        overflow: auto;

        table[mat-table] {
            --mat-table-header-container-height: 10px !important;

            margin-bottom: 1rem;
            display: table;
            border-collapse: collapse;
            margin: 0px;
            white-space: nowrap;
            overflow: auto;
            width: 200px;
            max-width: 200px;

            .mat-row,
            .mat-header-row {
                display: table-row;
            }

            .mat-cell,
            .mat-header-cell {
                word-wrap: initial;
                display: table-cell;
                padding: 0px 5px;
                line-break: unset;
                width: auto;
                white-space: nowrap;
                overflow: hidden;
                vertical-align: middle;
            }

            tbody {}

            .column-header {
                font-weight: lighter;
                padding: 0 8px;

                &.select-column-header {
                    width: 0;
                    padding: 1px 8px;
                }
            }

            .select-column-header {
                ::ng-deep {
                    .mat-mdc-checkbox {
                        --mdc-checkbox-selected-pressed-icon-color: #34e1ff;
                        --mdc-checkbox-selected-checkmark-color: #ffffff;
                        --mdc-checkbox-selected-focus-icon-color: #34e1ff; 
                        --mdc-checkbox-selected-hover-icon-color: #34e1ff; 
                        --mdc-checkbox-selected-icon-color: #34e1ff;
                        --mdc-checkbox-selected-focus-state-layer-color: #34e1ff; 
                        --mdc-checkbox-selected-hover-state-layer-color: #34e1ff; 
                        --mdc-checkbox-unselected-pressed-state-layer-color: #34e1ff;

                        .mdc-checkbox {
                            div.mdc-checkbox__background {
                                border-color: white;
                            }
                        }
                    }
                }
            }

            .header-row {
                background-color: rgba(0, 69, 143, 0.85);
                color: white;
            }

            .cell {
                vertical-align: baseline;
                padding: 0 8px;

                &.select-cell {
                    padding: 0 8px;
                }

                &.status-cell {
                    font-weight: 900;

                }

                &.action-cell {
                    text-align: right;
                    vertical-align: middle;
                }
            }
        }
    }

}