<iwms-header [title]="pageTitle">
  <iwms-button-toggle
    toggle
    [options]="toggleOptions"
    [toggledOption]="toggledOption"
    (toggle)="onToggle($event)"
  ></iwms-button-toggle>
  <iwms-grid-search
    search
    [filters]="filters"
    (applyFilter)="doApplyFilter($event)"
  ></iwms-grid-search
></iwms-header>
<iwms-grid
  [name]="toggledOption.name + ' Accounts'"
  [data]="data"
  [columns]="columns"
  [status]="status"
  [actions]="actions"
  (refresh)="doRefresh()"
></iwms-grid>
