// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@use './app/shared/layout/layout.theme' as layout;
@use './app/shared/not-found/not-found.theme' as not-found;
@use './app/shared/grid/grid.theme' as grid;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$iwms-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (brand-family: 'Poppins',
        bold-weight: 900),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($iwms-theme);
  @include mat.typography-hierarchy($iwms-theme);
  @include mat.color-variants-backwards-compatibility($iwms-theme);

  @include layout.theme($iwms-theme);
  @include not-found.theme($iwms-theme);
  @include grid.theme($iwms-theme);

  .reduced-size {
    @include mat.all-component-densities(-8);
  }
}

@import 'bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;


  .app-name {
    .start {
      color: white;
      font-weight: bold;
    }

    .end {
      @supports (-webkit-text-stroke: 1px #00458f) {
        color: #00458f;
        font-weight: bolder;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: #00458f;
        -webkit-text-stroke-width: 1px;
      }
    }
  }


  .spacer {
    flex: 1 1 auto;
  }

  a.icon-link {
    cursor: pointer;
  }

  mat-form-field {
    padding-bottom: 4px;
  }

  .core-user-header,
  .welfare-header,
  .children-header,
  .spouse-header,
  .page-title {
    font-weight: bold !important;
    margin-bottom: 0 !important;
  }

  iwms-view {
    display: block;
    margin-bottom: 100px;
  }
}

.alert-dialog {
  color: red;
}

// ::-webkit-scrollbar {
//   scrollbar-width: none;
// }