<iwms-header [title]="pageTitle">
  <iwms-button-toggle
    toggle
    [options]="toggleOptions"
    [value]="toggledOptionValue"
    (toggle)="onToggle($event)"
  ></iwms-button-toggle>
  <iwms-grid-search
    search
    [filters]="filterOptions"
    (applyFilter)="doApplyFilter($event)"
  ></iwms-grid-search
></iwms-header>
<iwms-grid
  [name]="toggledOption.name + ' Accounts'"
  [data]="data"
  [columns]="columns"
  [labels]="labels"
  [colors]="colors"
  [actions]="actions"
  (refresh)="doRefresh()"
></iwms-grid>
